.App
{
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
<<<<<<< HEAD
.containerform{
  font-family: Apple Chancery, cursive;
}

.containerorgform{
  font-family: Apple Chancery, cursive;
}


.news{
font-family: Brush Script MT, Brush Script Std, cursive;
}
.text{
  text-align: center; 
}
=======
>>>>>>> 724d4239cc107e97e39ba11ce97bc877928ea2b9
.bott{
  position: relative;
  bottom: inherit;
}
<<<<<<< HEAD
.header{
  background-color: white;
 
  
=======
.Row{
  width: 100%;
>>>>>>> 724d4239cc107e97e39ba11ce97bc877928ea2b9
}
.body{
  height: 100%;
  background-image: "./images/background.jpg"
}

.form-group{
  padding-left: 20px;
}

<<<<<<< HEAD
=======
.Navbar-brand{
  margin: 0;
}

.pad{
  padding-top: 20px;
}

>>>>>>> 724d4239cc107e97e39ba11ce97bc877928ea2b9
.serv{
  padding: 40px 0px; 
  background-position: 50% 40px;
  text-align: center;
  color: black;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link{
   padding-top: 0;
<<<<<<< HEAD
   
=======
>>>>>>> 724d4239cc107e97e39ba11ce97bc877928ea2b9
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.logoarea{
  vertical-align: 40px;
}
#second-navbar {
  margin: 0;
}



#card1{
  background-color: white;
  height: 150px;
}
#card2{
  background-color: white;
  height : 100%; 
  padding-right : 0px;
  font-family: Apple Chancery, cursive;
}
.font-small bott pt-4 mt-4{
  font-family: Apple Chancery, cursive;
}

#abcd-custom
{
  height : 100%; 
  padding-right : 0px;
}



#todo {
  font-family: Harrington;
  color:#808080;
  
}


#newshead{
  font-family: Lucida Sans Unicode;
}

#second-navbar {
  margin: 0;
}

#synerd{
  color: #00008B;
  font-family: Lucida Sans Unicode;
}

#syn{
  font-family: Lucida Sans Unicode;
  color: #00008B;
}
#card1{
  background-color: white;
  height: 150px;
}
#card2{
  background-color: white;
  height : 100%; 
  padding-right : 0px;
  text-align: center;
}

#announcements{
  padding-top: 50px;
}



#todo {
  font-family: Harrington;
  color:#808080;
  
}


#newshead{
  font-family: Lucida Sans Unicode;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
<<<<<<< HEAD




=======
.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Site-content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}

.Site-content:after {
  content: '\00a0';
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden;
}
>>>>>>> 724d4239cc107e97e39ba11ce97bc877928ea2b9
